* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e0e1e6;
  }
  button {
    position: relative;
    overflow: hidden;
    background: #42455a;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: none;
    font-size: 1rem;
    color: #e0ffff;
    font-weight: 500;
    cursor: pointer;
    z-index: 1;
  }
  button:active{
    transform: scale(0.95);
  }
  button::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    inset: -1px 30px;
    background: #00c2cb;
    transition: 500ms;
    animation: rotate 4s linear infinite;
    z-index: -1;
  }
  button:hover::before{
    inset: -1px;
  }
  button::after{
    content: '';
    position: absolute;
    inset: 3px;
    border-radius: 50%;
    background: #22232e;
    z-index: -1;
  }

  /* make a slight variation by 
  rotating the ::before pseudo-element
   using CSS animation: */
  @keyframes rotate {
    0%{
      transform: rotate(45deg);
    }
    100%{
      transform: rotate(360deg);
    }
  }